*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#c5a0ed,#9483e3);
}
.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 45px;
}
.all_input{
    display: flex;
    flex-direction: column;
    background-color: white;
}